
<div class="login-info-step">
    <div class="login-info-step-wraper">
        <app-side-panel></app-side-panel>
        <div class="login-info-content">
            <img id="logoImg" src="assets/images/logo-blue.png" alt="">
            <div class="custom_button"><a routerLink="/info-step3" >Next page</a></div>
            <div class="main-container">
                <section class="custom-convert">
                    <div class="convert-wraper">
                        <div class="container">
                            <div class="custom-heading-top">
                                <h4>18.44198375 k GALA[GC]</h4>
                                <a href="#" class="btn custom-btn custom-btn-fill">Convert</a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                            <div class="custom-content">
                                <div class="distributor_section">
                                    <div class="custom-heading">
                                        <h3>March 24th Distribution Info</h3>
                                    </div>    
                                    <div class="distributor-info-wraper">
                                            <div class="portion">
                                                <div class="content-top-about">
                                                    <div class="icon_back">
                                                        <img src="assets/images/boxes.png" alt="">
                                                    </div>                                        
                                                    <p>976 GALA</p>
                                                </div>
                                            </div> 
                                            <div class="portion">
                                                <div class="content-top-about">
                                                    <div class="icon_back">
                                                        <img src="assets/images/fire.png" alt="">
                                                    </div>                                        
                                                    <p>976 GALA</p>
                                                </div>
                                            </div> 
                                            <div class="portion">
                                                <div class="content-top-about">
                                                    <div class="icon_back">
                                                        <img src="assets/images/badge.png" alt="">
                                                    </div>                                        
                                                    <p>976 GALA</p>
                                                </div>
                                            </div> 
                                    </div>
                                </div>
                
                                <div class="history_section">
                                    <div class="custom-heading">
                                        <h3>History</h3>
                                    </div>
                                    <ul class="content-main">
                                        <li class="content-main-items">
                                            <div class="main-item-about">
                                                <div class="main-icon-back">
                                                    <img src="assets/images/distribution.png" alt="">
                                                </div>
                                                <div class="about-content">
                                                    <h4>Distribution Reward</h4>
                                                    <p>Treasure Chest</p>
                                                </div>
                                            </div>
                                            <div class="main-item-details">
                                                <a href="#">Treasure Chest</a>
                                                <div class="details-content">
                                                    <p>976.39061</p>
                                                    <p>GALA[GC]</p>
                                                    <p>MAR 2020</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="content-main-items">
                                            <div class="main-item-about">
                                                <div class="main-icon-back">
                                                    <img src="assets/images/distribution.png" alt="">
                                                </div>
                                                <div class="about-content">
                                                    <h4>Distribution Reward</h4>
                                                    <p>Treasure Chest</p>
                                                </div>
                                            </div>
                                            <div class="main-item-details">
                                                <a href="#">Treasure Chest</a>
                                                <div class="details-content">
                                                    <p>976.39061</p>
                                                    <p>GALA[GC]</p>
                                                    <p>MAR 2020</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="content-main-items">
                                            <div class="main-item-about">
                                                <div class="main-icon-back">
                                                    <img src="assets/images/distribution.png" alt="">
                                                </div>
                                                <div class="about-content">
                                                    <h4>Distribution Reward</h4>
                                                    <p>Treasure Chest</p>
                                                </div>
                                            </div>
                                            <div class="main-item-details">
                                                <a href="#">Treasure Chest</a>
                                                <div class="details-content">
                                                    <p>976.39061</p>
                                                    <p>GALA[GC]</p>
                                                    <p>MAR 2020</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 
            </div>
            <div class="bottom-menu">
                <img src="assets/images/settings-log.png" alt="">
                <img src="assets/images/user-logo.png" alt="">
                <img src="assets/images/switch-logo.png" alt="">
        </div>
        </div>
    </div>
</div>